.gpt3__cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--gradient-bar);
	border-radius: 1rem;
	padding: 2rem;
	margin: 4rem;
}

.gpt3__cta p {
	font-weight: 400;
	font-size: 12px;
	line-height: 30px;
	color: var(--color-subtext);
}

.gpt3__cta h3 {
	font-weight: 800;
	font-size: 24px;
	line-height: 45px;
	color: var(--color-text);
}

.gpt3__cta-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2rem;
}

.gpt3__cta-btn button {
	background: var(--color-subtext);
	color: #fff;
	border-radius: 20px;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	padding: 0.5rem 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s ease-in;
}

.gpt3__cta-btn button:hover {
	background: #fff;
	color: var(--color-subtext);
	box-shadow: var(--shadow);
}

@media screen and (max-width: 650px) {
	.gpt3__cta {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.gpt3__cta-btn {
		margin: 2rem 0 0 0;
	}
}

@media screen and (max-width: 550px) {
	.gpt3__cta {
		margin: 4rem 2rem;
	}

	.gpt3__cta h3 {
		font-size: 20px;
		line-height: 32px;
	}

	.gpt3__cta-btn button {
		font-size: 14px;
		line-height: 28px;
	}
}
